<div class="alerts" data-controller="alerts">
    <% flash.each do |key, value| %>
        <% if value.class == Array %>
            <div data-target="alerts.message" class="<%= flash_class(key) %>">
                <button data-action="click->alerts#remove_target" data-dismiss="alert" class="delete"></button>
                <ol>
                <% value.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ol>
                
            </div>
        <% else %>
            <div data-target="alerts.message" class="<%= flash_class(key) %>">
                <button data-action="click->alerts#remove_target" data-dismiss="alert" class="delete"></button>
                <%= value %>
            </div>
        <% end %>
    <% end %>
</div>