<footer class="footer is-widescreen">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Review</strong> by <a href="http://richjdsmith.ca">Rich Smith</a>. 
      </p>
    </div>
  </div>
</footer>