<p class="menu-label is-hidden-touch"> <em>Navigation</em></p>
<ul class="menu-list is-dark">
  <li>
    <%= link_to root_path do %>
        <span class="icon">
          <i class="fas fa-home"></i>
        </span> Home
    <% end %>
  </li>
  <li>
    <a href="#" class="is-active">
      <span class="icon">
        <i class="fas fa-table"></i>
      </span> Links
    </a>

    <ul>
      <li>
        <a href="#">
          <span class="icon is-small">
            <i class="fas fa-link"></i>
          </span> Link1
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon is-small">
            <i class="fas fa-link"></i>
          </span> Link2
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" class="">
      <span class="icon">
        <i class="fas fa-info"></i>
      </span> About
    </a>
  </li>
</ul>
